{{#types}}
  export type {{&name}} =
  {{#tsType}}
    {{> type}}
  {{/tsType}}
  ;
{{/types}}

{{#definitions}}
  export interface {{&name}}
  {{#tsType}}
    {{> type}}
  {{/tsType}}
  ;
{{/definitions}}
