import { HttpClient, HttpParams, HttpRequest } from '@angular/common/http';
import {
{{#types}}
  {{&name}},
{{/types}}
{{#definitions}}
  {{&name}},
{{/definitions}}
}from './api-model';

{{#imports}}
/// <reference path='{{&.}}' />
{{/imports}}
import {Injectable} from '@angular/core';
import { Observable } from 'rxjs/index';
import { environment } from '../../environments/environment';


// TN means it is type named by property name
// TP means type named by property path - can be same like named by name, so diversed

/**
 * {{&description}}
 */
@Injectable({
providedIn: 'root'
})
export class {{&className}} {
    private domain: string = '{{&domain}}';
    constructor(
      public http: HttpClient,
    ) {}

{{#methods}}
    {{> method}}

{{/methods}}
}
