import { IResponsesObject } from './requests';
import * as multer from 'multer';
const upload = multer({ dest: 'mock_server/uploads/' });

let files = [];
export class MockMethods {
    public static getMockMethods(app, responses: IResponsesObject, apiPath: string) {
    {{#methods}}
        {{> method}}
    {{/methods}}
    }
}
