import * as request from 'request';
import {
{{#types}}
  {{&name}},
{{/types}}
{{#definitions}}
  {{&name}},
{{/definitions}}
} from '../../../src/app/services/api-model';
import * as setCookieParser from 'set-cookie-parser';

let cookie: string = '';
let xsrf: string = '';

export default class ApiTestGenerated {
  constructor(private baseUrl: string){
    if (this.baseUrl[this.baseUrl.length - 1] === '/') {
      this.baseUrl = this.baseUrl.substring(0, this.baseUrl.length - 1);
    }
  }
  {{#methods}}
    {{> method}}
  {{/methods}}
}
