public {{&pathMethodName}}(parameters: {
{{#parameters}}
    {{^isSingleton}}
        '{{&camelCaseName}}'?: {{> type}},
    {{/isSingleton}}
{{/parameters}}
    $queryParameters?: any,
{{^isPOST}}
    config?: any,
{{/isPOST}}
}): Promise<{{&successfulResponseType}}> {

    let url = `${this.baseUrl}{{&path}}`;
    let queryParameters: any = {};
    if (parameters.$queryParameters) {
      queryParameters = parameters.$queryParameters;
    }
    {{#parameters}}
        {{#isPathParameter}}
            url = url.replace('{{=<% %>=}}{<%&name%>}<%={{ }}=%>', `${parameters['{{&camelCaseName}}']}`);
            {{#isPOST}}
              const out = {};
            {{/isPOST}}
        {{/isPathParameter}}
        {{^isPathParameter}}
            {{#isPOST}}
                const p = parameters['{{&camelCaseName}}'];
                const out= p?p:{};
            {{/isPOST}}
        {{/isPathParameter}}
    {{/parameters}}
    {{^parameters}}
      {{#isPOST}}
        const out = {};
      {{/isPOST}}
    {{/parameters}}
    {{#isPOST}}
      return new Promise((resolve, reject) => {
        const options = {
          headers: {'content-type' : 'application/json',
      'X-BROWSER-FINGER-PRINT': 2127133559,
      'X-XSRF-TOKEN': xsrf,
      Cookie: cookie},
          body: parameters.hasOwnProperty('input')? parameters['input']: {} ,
          json: true
        };
        request.post(url, options, function(error, response, body){
          cookie = setCookieParser(response).map(data => {
            if (data.name === 'XSRF-TOKEN') {
              xsrf = data.value;
            }
            return data.name + '=' + data.value;
          })
          .join('; ');
            resolve(body);
          });
      });

    {{/isPOST}}
    {{^isPOST}}
      return new Promise((resolve, reject) => {
        request.get(url, (error, response, body) => {
          resolve(JSON.parse(body));
        });
      });
    {{/isPOST}}
}
